* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: #f0eee9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

/* header + nav */
.site-header {
  background: #382a3f;
  padding: 0.75rem 1.5rem;
  position: sticky; /* permet de laisser la barre de nav statique quand on scroll sur une page */
  top: 0; /* statique EN HAUT de la page */
}

.site-nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

/* boutons dans la barre de nav */
.btn {
  color: #f0fdf4;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.site-nav .nav-droite{
  margin-left: auto; /* authentifications à droite */
}

.btn:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

/* conteneur principal + accueil */
main.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem; /* images descendues au milieu de index.html */
}

#blocaccueil {
  width: 100%;
  background: #765892;
  color: #ffffff;
  padding: 4rem;
  text-align: center;
}

/* spécifique au h1 (message de bienvenue) */
#blocaccueil h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

#blocimgaccueil {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem; /* espace entre chaque image */
  margin-bottom: 4rem; /* espace entre les images et le texte */
}

.imgaccueil {
  width: 25%;
  max-width: 250px;
  height: auto;
}

#descaccueil {
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 0 1rem;
  text-align: center;
  line-height: 1.7;
  font-size: 1.1rem;
}

/* formulaire d'authentification */
form {
  padding: 2.5rem;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  margin: 2rem auto;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
}

form h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

/* champs texte + mot de passe de page4.html */
.form-input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: 1px solid #cbd5e1;
}

/* bouton de validation de page4.html */
.btn-submit {
  width: 100%;
  padding: 0.8rem;
  margin-top: 3rem;
  border-radius: 3px;
  border: none;
  background-color: #765892;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #a28cb8;
}

/* footer */
.site-footer {
  background: #382a3f;
  color: #d7dee7;
  padding: 1rem 3rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.site-logo img {
  height: 30px;
  width: auto;
  display: block;
}